html 
  head 
    title= title
  body 
    h2= message
    p 
      a(href='/about') About
    br
    p
      a(href='/contact-me') Contact Me
    br
    p
      a(href='/404') Click on an error page
    br
    p 
      a(href='/about-me') about-me to about redirect
